<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :task_tracking_number %><br />
    <%= f.number_field :id, value: @next_available_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 4 %>
  </div>
  <% if @task.due_date.blank? %>
  	<div class="field">
    		<%= f.label :due_date %><br />
    		<%= f.text_field :due_date, value: 'Click for calendar' %>
  	</div>
  <% else %>
  	<div class="field">
    		<%= f.label :due_date %><br />
    		<%= f.text_field :due_date, value: @task.due_date %>
  	</div>
  <% end %>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, rows: 4 %>
  </div>
  <div class="field">
    <%= f.label :severity %><br />
    <%= select :task, :severity, [['Low', 1], ['Medium', 2], ['High', 3]], selected: 2 %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= select :task, :status, [['Open', 1], ['Implement', 2], ['Test', 3], ['Closed', 4], ['Rejected', 5]], selected: 1 %>
  </div>
  <div class="field">
    <%= f.label :resource %><br />
    <%= f.text_field :resource %>
  </div>
  <div class="field">
    <%= f.label :deliverable %><br />
    <%= f.text_field :deliverable %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
