<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Listing tasks</h1>

<div id="button_holder">
<%= link_to 'New Task', new_task_path, class: 'medium_button floated_button' %>
</div>

<%= form_tag index_update_tasks_path, method: 'post' do %>

<%= submit_tag 'Designate Priority Tasks' %>

<div id="list">
<table width="100%">
  <tr>
    <th>Priority?</th>
    <th>Id</th>
    <th>Project</th>
    <th>Name</th>
    <th>Description</th>
    <th>Due date</th>
    <th>Notes</th>
    <th>Severity</th>
    <th>Status</th>
    <th>Resource</th>
    <th>Deliverable</th>
    <th>Completed date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr class="<%= cycle('list_line_odd','list_line_even') %>">  
    <td><%= check_box_tag "task_ids[]", task.id, task.priority_task_flag %></td>
    <td><%= task.id %></td>
    <td><%= task.project_id %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.due_date %></td>
    <td><%= task.notes %></td>
    <td><%= task.severity %></td>
    <td><%= task.status %></td>
    <td><%= task.resource %></td>
    <td><%= task.deliverable %></td>
    <td><%= task.completed_date %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<% end %>


