<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>This Week's Priorities</h1>

<table>

<% @tasks.each do |task| %>
  <% if task.priority_task_flag == true then %>
    <tr class="<%= cycle('list_line_odd','list_line_even') %>">  
      <td><h3><%= link_to task.id, task %></h3></td>
      <td><h3><%= link_to task.project.name, task %></h3></td>
      <td><h3><%= link_to task.name, task %></h3></td>
      <td><h3><%= link_to truncate(task.description, length: 40), task %></h3></td>
      <td><h3><%= link_to task.due_date, task %></h3></td>
  </tr>
  <% end %>
<% end %>

</table>

<br />

