<div class="enhanced_form" >

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <fieldset>
  <legend>Enter User Information</legend>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Group' %> 
    <%= collection_select :user, :id, User.all(joins: :groups, select: 'distinct groups.id, groups.name').map { 
    	|name| [ name.name, name.id ] }, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
  <% if @action_name=='new' %>
  	<%= f.label :password, 'Password' %><br />
  <% else %>
  	<%= f.label :password, 'Change Password' %><br /> 
  <% end %>
  <%= f.password_field :password, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm' %><br />
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>

</div>
