<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= @user.name %></h1>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>            

<p>
  <b>Group:</b>
  <%= @user.groups[0].name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h2><%= @user.name %>'s Projects</h2>

<table>
  <%= render partial: "projects/project", collection: @projects %>
</table>


