<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>

<h1>All Projects</h1>
<br/>
<%= link_to 'New Project', new_project_path, class: 'medium_button' %>
<%= link_to 'Generate Weekly Project Status Report', generate_projects_report_path, class: 'medium_button' %>
<%= link_to 'Distribute Weekly Project Status Report', send_projects_report_path, class: 'medium_button' %>
<br/>
<br/>
<br/>
<div class="projects_tabs">
  <div id="tabs">
    <ul>
      <li><a href="#tbd">Projects to be Delivered</a></li>
      <li><a href="#ogs">Ongoing Support Projects</a></li>
    </ul>
    <div id="tbd">
    <br/>
    <%= form_tag projects_path, method: :post %>
    <%= submit_tag 'Change Project Priorities' %>    
    <table>
    <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "priority" %></th>
    <th>New Priority?</th>
    <th><%= sortable "project_manager" %></th>
    <th><%= sortable "technical_lead" %></th>
    <th><%= sortable "due_date" %></th>
    <th>Phase</th>
    <th>Key resources</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    
    <% @projects_to_be_delivered.each do |project| %>
    <tr class="<%= cycle('list_line_odd','list_line_even') %>">
    <td><%= project.name %></td>
    <td><%= project.priority %></td>
    <td><%= text_field_tag "new_priority[#{project.id}]", nil, size: 6 %></td>
    <td><%= project.project_manager == 'TBD' ? 'TBD' : ( (user = User.find_by_id(project.project_manager)) ? link_to(user.name, user_path(user.id)) : 'Unknown PM' ) %></td>
    <td><%= project.technical_lead == 'TBD' ? 'TBD' : ( (user = User.find_by_id(project.technical_lead)) ? link_to(user.name, user_path(user.id)) : 'Unknown TL' ) %></td>
    <td><%= project.due_date %></td>
    <td><%= project.phase %></td>
    <td><%= project.key_resources %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
    </table>
    </div>
    <div id="ogs">
    <br/>    
    <table>
    <tr>
    <th>Name</th>
    <th>Project manager</th>
    <th>Technical lead</th>
    <th>Due date</th>
    <th>Phase</th>
    <th>Key resources</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    
    <% @projects_ongoing_support.each do |project| %>
    <tr class="<%= cycle('list_line_odd','list_line_even') %>">
    <td><%= project.name %></td>
    <td><%= project.project_manager == 'TBD' ? 'TBD' : ( (user = User.find_by_id(project.project_manager)) ? user.name : 'Unknown PM' ) %></td>
    <td><%= project.technical_lead == 'TBD' ? 'TBD' : ( (user = User.find_by_id(project.technical_lead)) ? user.name : 'Unknown TL' ) %></td>
    <td><%= project.due_date %></td>
    <td><%= project.phase %></td>
    <td><%= project.key_resources %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
    </table>
    </div>
  </div>
</div>







