<br/>
<table>
  <tr>
    <th>Time</th>
    <th>User</th>
    <th>Action</th>
    <th>Changes</th>
  </tr>

  <% audits.each do |audit| %>
    <tr class="<%= cycle('list_line_odd','list_line_even') %>">
    <td><%= audit.created_at.localtime.strftime("%A%n%m-%d-%y%n%H:%M:%S") %></td>
    <td><%= audit.user %></td>
    <td><%= audit.action  %></td>
    <td><%= truncate(audit.audited_changes.to_s, length: 120) %></td>  
    </tr>
  <% end %>
</table>	

