<!DOCTYPE html>
<html>
<head>
  <title>CoAgent</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <div id="banner">
    <%= image_tag("3m_cogent_logo.jpg",class: "logo") %>
    <%= @page_title || "CoAgent" %>
  </div>
  
  <div id="columns">
    <div id="side">
    <p><%= @current_time.localtime.strftime("%Y-%m-%d\n%H:%M:%S") %></p>
      <ul>
      <li><%= link_to 'Home', account_home_path %></li>      
      <li><%= link_to 'What\'s New', list_announcements_path %></li>
      <li><%= link_to 'Top 5 Projects', top_projects_path %></li>
      <li><%= link_to 'Weekly Priorities', top_tasks_path %></li>
      <li><%= link_to 'My Projects', list_projects_path %></li>
      <li><%= link_to 'My Tasks', tasks_path %></li>
      <li><%= link_to 'My Account', account_settings_path %></li>
      <li><%= link_to 'Feedback', compose_feedback_path %></li>
      <li><%= link_to 'Suggest Feature', compose_suggestion_path %></li>
      </ul>
      
      <% if session[:user_id] %>
      	<%= button_to 'Logout', logout_path, method: :delete %>
      <% end %>
      
      <% if session[:user_id] and session[:group_id]=='Super Users' %>
      	<ul>
      	  <li><%= link_to 'Edit Announcements', announcements_path %></li>
      	  <li><%= link_to 'Edit Users', users_path %></li>
      	  <li><%= link_to 'All Tasks', tasks_path %></li> 
      	  <li><%= link_to 'Historial Status Reports', projects_reports_archive_path %></li>       	  
      	  <li><%= link_to 'All Tasks', tasks_path %></li>      	  
      	</ul>
      <% end %>
      
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>


</body>
</html>
